<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dabebel.registro">
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/temaAplicacion">


        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity android:name=".SplashActivity" android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login">

        </activity>

        <activity android:name=".Registro">

        </activity>

        <activity android:name=".AcercaDeActivity">

        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".Perfil">

        </activity>

        <activity android:name=".Mapa">

        </activity>
        <activity android:name=".Mapa2">

        </activity>

        <activity android:name=".Invitar">

        </activity>
        <activity android:name=".EditarPerfil">

        </activity>
    </application>

</manifest>